* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: fira, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.container {
  padding-top: 37px;
  padding-bottom: 37px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  padding-left: 128px;
  padding-right: 128px;
}

h2 {
  font-weight: 400;
  font-size: 32px;
  color: inherit;
}

span {
  font-weight: 900;
}

nav {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, auto);
}

a {
  color: inherit;
  font-size: 18px;
  text-decoration: none;
}

.ban-container {
  max-width: 1600px;
  padding-left: 128px;
  padding-right: 128px;
}

main section.banner{
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(./Images/heading.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main section.banner &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #12002F;
    opacity: 0.2;
}

.ban-container {
  width: 100%;
}

h1 {
  font-size: 72px;
}

h1 span{
  color: #FF9FDb;
}

h3 {
  font-size: 30px;
  margin-bottom: 32px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  opacity: 1;
}

.button {
  display: inline-block;
  color: #fff;
  background-color: #FF9FDb;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.services {
  background-color: #eee;
}

.ser-container {
  padding: 64px;
  padding-bottom: 64px;
}

#ser-h2 {
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #313131;
  font-size: 36px;
}

.service {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

.img-box {
  display: block;
  width: 100%;
  border-bottom: 5px solid pink ;
}

.img {
  display: block;
  width: 100%;
  height: 128px;
  object-fit: cover;
}

img {
  max-width: 100%;
}

.content {
  padding: 16px;
}

.proj-h2 {
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #313131;
  font-size: 36px;
}

.projects {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 64px;
  padding-right: 64px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.project {
  background-image: url(./Images/body-body.png);
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 32px;
  background-size: cover;

&:nth-child(2) {
  background-image: url(./Images/lomi-lomi.jpg);
}

&:nth-child(3) {
  background-image: url(./Images/back.jpeg);
}

&:nth-child(4) {
  background-image: url(./Images/feet.jpg);
}

&:nth-child(5) {
  background-image: url(./Images/scalp-face.jpg);
}

&:nth-child(6) {
  background-image: url(./Images/candle.jpg);
}

&:nth-child(7) {
  background-image: url(./Images/Aromamassge1.jpg);
}

&:nth-child(8) {
  background-image: url(./Images/le-signature.jpg);
}
&:nth-child(9) {
  background-image: url(./Images/sport.jpg);
}
}

.proj-content {
  padding: 16px;
  background-color: rgba(64, 39, 68, 0.8);
  color: #eee;
  opacity: 0;
  transition: 0.4s;  
}

.proj-h3 {
  font-size: 32px;
  margin-bottom: 16px;
}

.proj-par {
  font-size: 18px;
  margin-bottom: 16px;
}

div:hover {
  opacity: 1;
}

.center {
  text-align: center;
}

.contact {
  background-color: #9B75D7;
}

.cont-container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.cont-h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 32px;
}

form {
  max-width: 680px;
  display: block;
  margin: 0 auto;
}

.form-element, .form-area {
  appearance: none;
  border: none;
  outline: none;
  background: none;

  display: block;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;

  padding: 16px;
  font-size: 20px;
  color: #313131;

  &::placeholder {
    color: #AAA;
  }
}

.form-group {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 16px;
}

.form-area {
  grid-column: span 2;
}

#form-button {
  appearance: none;
  border: none;
  outline: none;
}

.right-align {
  text-align: right;
}

@media (max-width: 1025px) {
  .container, .ban-container, .cont-container, .ser-container {
    padding-left: 64px;
    padding-right: 64px;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  nav {
    display: none;
  }

  h1 {
    font-size: 36px;
  }

  .services-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .projects-grid {
    grid-template-columns: repeat(1,1fr);
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }
}

header.is-scrolling {
    background-color: #12002F;
    .container, .ban-container, .cont-container, .ser-container {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  .duration {
    margin-top: 16px;
    width: 100%;
  }

  .time {
    background-color: #9B75D7;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 10px;
  }

  .price {
    background-color: #2619d8;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 10px;
  }

  .others {
    position: fixed;
    left: 0;
    top: 13%;
    width: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
  }

  .bg-visibility {
    visibility: visible;
    opacity: 1;
  }

  .body-treatments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;background-color: #eee;
    width: 100%;
    padding: 10px;
  }

  .left-side ul {
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(73, 91, 172);
  }

  .right-side ul {
    list-style-type: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(73, 91, 172);
  }

  h5 {
    font-size: 30px;
    color: #3f46a1;
    border-bottom: 1px solid #12002F;
    margin-bottom: 16px;
  }

  .wax {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;background-color: #eee;
    width: 100%;
    padding: 10px;
    color: #12002F;
  }

  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: darkred;
    cursor: pointer;
  }


  .foot {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .copy {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }

  .copy img {
    width: 130px;
    height: 80px;
  }

  .copy span {
    color: white;
    font-size: medium;
  }

  .copy p {
    color: #FF9FDb;
    text-align: center;
    margin-top: 35px;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .socials {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .phone {
    display: flex;
    align-items: center
  }

  .phone p {
    color: #2619d8;
  }
  